.button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 3rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 1.5rem;
  transition: all 0.1s ease-out;
  background-color: #b5d8f2;
  cursor: pointer;
}

.button:hover {
  background-color: #234A8A;
  color: white;
}
