/* content container */
.container {
  display: grid;
  grid-template-columns: repeat(24, minmax(0, 1fr));
  grid-template-rows: 1rem min-content 1rem min-content 1rem;
  justify-items: center;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
}

/* content image */
.image {
  grid-column: 2/24;
  grid-row: 2;
  border-radius: 1.5rem;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

/* content card */
.card {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-rows: minmax(1rem, min-content);
  align-content: center;
  justify-items: center;
  border-radius: 1.5rem;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 2rem 1.5rem;
  width: 100%;
  height: 100%;
  grid-column: 2/24;
  grid-row: 4;
}

/* card title */
.title {
  grid-column: 1/13;
  grid-row: 1;
  font-size: 1.875rem;
  font-weight: 700;
}

/* card text */
.text {
  grid-column: 1/13;
  grid-row: 3;
}

/* card button */
.button {
  grid-column: 1/13;
  grid-row: 5;
}

@media screen and (min-width: 960px) {
  /* content container */
  .container {
    height: 40rem;
    grid-template-rows: repeat(24, minmax(0, 1fr));
  }

  /* content image */
  .image {
    grid-column: 2/22;
    grid-row: 2/24;
  }

  /* content card */
  .card {
    grid-row: 5/21;
    grid-column: 12/23;
    padding: 2.5rem 2rem;
  }

  /* card title */
  .title {
    font-size: 3rem;
  }

  /* card text */
  .text {
    font-size: 1.125rem;
  }
}
